<% layout("./base") %>
  <main>
    <section class="infolist">
      <ul class="infolist">
        <li>
          <label>Name:</label>
          <div>
            <%= state.user.name %>
          </div>
        </li>
        <li>
          <label>Date of Birth:</label>
          <div>
            <%= state.user.dob %>
          </div>
        </li>
        <li>
          <label>Passport No:</label>
          <div>
            <%= state.user.passport %>
          </div>
        </li>
        <li>
          <label>Passport Expiry</label>
          <div>
            <%= state.user.passportExpiry %>
          </div>
        </li>
        <li>
          <label>Age:</label>
          <div>
            <%= state.user.age %>
          </div>
        </li>
        <li>
          <label>Medical Status:</label>
          <div>
            <%= state.user.medicalStatus %>
          </div>
        </li>
        <li>
          <label>Last Status:</label>
          <div>
            <%= state.user.lastStatus %>
          </div>
        </li>
        <hr />
        <li>
          <label>Updates:</label>
          <div>
            <%~ state.user.updates.split('\n').join('<br/>') %>
          </div>
        </li>
      </ul>
    </section>
    <a href="logout" class="button">Logout</a>
  </main>
